<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} The Last Social Media You'll Ever Need{% endblock %} | soc_net</title>
</head>

<body>
    {% include "header.html" %}
    <nav id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/">О сайте</a></li>
            <li><a href="/">Сообщения</a></li>
        </ul>
        {% endblock %}
    </nav>

    <div id="content">
        {% block content %}Контент не подвезли :{% endblock %}
    </div>
    {% include "footer.html" %}
</body>
</html>